<html>
	<head>
		<script src="jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<base href="/about">
	</head>
	<body>
		<header id="toper">
			<div class="topnav" id="topNavBar">
				<a class="active"> Home </a>
				<a href="/albums"> Albums </a>
				<a href="/about"> About </a>
				<a href="/blog"> Blog </a>
			</div>
			<button type="button" class="btn btn-primary btn-md" id="hideBt" onclick="hide_show"> show </button>
		</header>
		<ol class="breadcrumb">
			<li> <a href="/"> Home </a> </li>
			<li class="active"> About </li>
		</ol>
			<nav class="col-sm-2">
				<div id="lMenu" class="nav-sidebar">
					<ul class="nav" id="menuList">
						<li> <a href=""> tanathan </a> </li>
						<li> <a href=""> something </a> </li>
						<li> <a href=""> something </a> </li>
						<li> <a href=""> something </a> </li>
					</ul>
				</div>
			</nav>
		<h2>
			THÔNG TIN NHÓM :...
		</h2>
		<div id="info">
			<div id="info1">
				<h3> THÀNH VIÊN THỨ NHẤT </h3>
				<p id="name"> Tên thành viên: Lưu Trần Anh Kiệt </p>
				<p id="code1"> MSSV: 1412270 </p>
				<p id="email1">  Email: tuilaanhkiet@gmail.com </p>
				<p > <img id="img1" src="http://static.tumblr.com/bb6f5f264ab1554395c2519c60ed74a9/mudxlsn/F5Una0y78/tumblr_static_e6trxn9ts2gcsksw8oc4ook8w.jpg"> </p>
				<div id="map" style="width:400px;height:400px;background:yellow"></div>
				<script>

					function myMap() {
						var mapOptions = {
						    center: new google.maps.LatLng(51.5, -0.12),
						    zoom: 10,
						}
						var map = new google.maps.Map(document.getElementById("map"), mapOptions);
					}
				</script>
				<script 
					src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap">
				</script>
			</div>
		</div>
	</body>
</html>

<style>
	#info1 {
		margin-top: 100px;
		margin-left: 120px;
	}

	#img1 {
		height: 50%;
		width: 25%;
	}

	#topNavBar {
		background-color: black;
		padding: 14px 14px;
		text-align: center;
		display: block;
	}

	@media only screen and (max-width: 992px){
		#topNavBar {
			display: none;
		}
	}

	@media only screen and (min-width: 992px){
		#hideBt {
			display: none;
		}
	}

	.topnav a {
		background-color: green;
		padding: 14px 14px;
		color: white;
		text-decoration: none;
		width: auto;
	}

	.topnav a:hover {
	 	background-color: white;
	  	color: black;
	}

	#lMenu {
		margin-top: 100px;
		width: 100%;
    	border-right: 1px solid #ddd;
    	float: left;
    	margin-left: 10px;
	}
	#info {
		margin-left: 200px;

	}
</style>
