<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script type="text/javascript"> </script>
	</head>
	<body>
		<div id="toper">
			<div class="topnav" id="topNavBar">
				<a href="#1"> Choosen 1 </a>
				<a href="#2"> Choosen 2 </a>
				<a href="#3"> Choosen 3 </a>
				<a href="#4"> Choosen 4 </a>
			</div>
		</div>
		<ol class="breadcrumb">
			<li> <a href="http://localhost:3000/blog"> Home </a> </li>
			<li class="active"> Blog </li>
		</ol>
		<div id="main">
			<a> <div id="lMenu" class="col-md-2">
				<p href="1"> Home </p>
				<p href="2"> Albums </p>
				<p href="3"> About </p>
				<p href="4"> Blog </p>
			  </div> </a>
			<a> <div id="mainPost">
					<h2 style="margin-left: 350px;"> Hot Post Today </h2>
					<div class="col-md-6">
						<div id="post" class="thumbnail">
							<a> <img src="http://media.esports.vn/esports/2015/07/20/magnus.jpg"> </a>
							<a> <strong style="color: black;"> Magnus The Greatest </strong> </a>
							<p class="post-info small caps"> Post by NeverMore </p>
							<div class="post-text small">
								Với việc có 5 team Trung Quốc tham gia, meta của DAC có chiều hướng ảnh hưởng của người Tàu với sự phổ biến của Magnus và Lifestealer.
							</div>
							<p class="post-info small caps"> Views: 155 </p>
						</div>
						<div id="post" class="thumbnail">
							<a> <img src="http://media.esports.vn/esports/2015/07/20/magnus.jpg"> </a>
							<a> <strong style="color: black;"> Magnus The Greatest </strong> </a>
							<p class="post-info small caps"> Post by NeverMore </p>
							<div class="post-text small">
								Với việc có 5 team Trung Quốc tham gia, meta của DAC có chiều hướng ảnh hưởng của người Tàu với sự phổ biến của Magnus và Lifestealer.
							</div>
							<p class="post-info small caps"> Views: 155 </p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</body>
</html>

<style>
	#post {
		background-color: #6a7382;
		margin-left: 200px;
	}

	h2 {
		margin-left: 250px;
	}

	.topnav a {
		background-color: green;
		padding: 14px 14px;
		color: white;
		text-decoration: none;
		width: auto;
	}

	.topnav a:hover {
	 	background-color: white;
	  	color: black;
	}

	#topNavBar {
		background-color: black;
		padding: 14px 14px;
		text-align: center;
		display: block;
	}

	#lMenu {
		margin-left: 20px;
		margin-top: 40px;
		background-color: #b8c3d6;
		padding: 10px;
		width: 100px;
	}
</style>