<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script type="text/javascript"> </script>
		<base href="/blog">
	</head>
	<body>
		<div id="main">
			<div class="container">
				<header id="toper">
					<div class="topnav" id="topNavBar">
						<a href="/"> Home </a>
						<a href="/albums"> Albums </a>
						<a href="/about"> About </a>
						<a class="active"> Blog </a>
						<div class="active" id="log" style="float: right; background-color: brown;">
							<% if(dn == "1") { %>
								<a id="userLogin" style="color: black; margin: 0;">
									<%=nick %>
								</a> 
								<button type="button" class "btn btn-primary" id="btnLogout" data-toggle="modal" data-target="#loginModal"> Logout </button> <% }
							  else { %>
								<button type="button" class "btn btn-primary" id="btnLogin" data-toggle="modal" data-target="#loginModal"> Login </button>
							<% } %>
						</div>
					</div>
					<button type="button" class="btn btn-primary btn-md" id="hideBt" onclick="hide_show"> show </button>
				</header>
				<ol class="breadcrumb">
					<li> <a href="/"> Home </a> </li>
					<li class="active"> Blog </li>
				</ol>
				<div class="col-sm-2">
					<div id="lMenu" class="nav-sidebar">
						<ul class="nav" id="menuList">
							<li> <a href=""> Menu 1 </a> </li>
							<li> <a href=""> Menu 2  </a> </li>
							<li> <a href=""> Menu 3 </a> </li>
							<li> <a href=""> Menu 4  </a> </li>
						</ul>
					</div>
				</div>
				<a> <div id="mainPost">
						<h2 style="margin-left: 350px;"> Hot Post Today </h2>
						<div class="col-md-6">
							<div id="post" class="thumbnail">
								<a> <img src="http://img.f36.dulich.vnecdn.net/2017/04/11/4-1491880992_660x0.jpg"> </a>
								<a href="/blog1"> <strong style="color: black;"> Nhiếp ảnh gia gây sốt với ảnh cắt ghép các biểu tượng du lịch </strong> </a>
								<p class="post-info small caps"> Post by anhkiet </p>
								<div class="post-text small">
									Rich MrCor tạo nên cơn sốt trên mạng xã hội với những bức ảnh cắt giấy ghép cùng các điểm đến nổi tiếng trên khắp thế giới.
								</div>
								<p class="post-info small caps"> Views: 155 </p>
							</div>
							<div id="post" class="thumbnail">
								<a> <img src="http://img.f34.dulich.vnecdn.net/2017/04/04/4-1491272124_660x0.jpg"> </a>
								<a href="/blog2"> <strong style="color: black;"> Vẻ đẹp của Paris hơn 100 năm trước </strong> </a>
								<p class="post-info small caps"> Post by anhkiet </p>
								<div class="post-text small">
									Những con đường, công trình nổi tiếng đã thu hút sự chú ý của du khách khắp nơi trên thế giới từ hơn 100 năm trước như Khải Hoàn Môn, tháp Eiffel và cả tượng Nữ thần Tự do trước khi được đem tặng New York.
								</div>
								<p class="post-info small caps"> Views: 155 </p>
							</div>
						</div>
					</div>
				</a>
				<footer id="foot">
					contact me now	
				</footer>
			</div>
		</div>
	</body>
</html>

<style>
	#post {
		background-color: #6a7382;
		margin-left: 200px;
	}

	h2 {
		margin-left: 250px;
	}

		#topNavBar {
		background-color: black;
		padding: 14px 14px;
		text-align: center;
		display: block;
	}

	@media only screen and (max-width: 992px){
		#topNavBar {
			display: none;
		}
	}

	@media only screen and (min-width: 992px){
		#hideBt {
			display: none;
		}
	}

	.topnav a {
		background-color: green;
		padding: 14px 14px;
		color: white;
		text-decoration: none;
		width: auto;
	}

	.topnav a:hover {
	 	background-color: white;
	  	color: black;
	}

	#anhbia {
		float: center;
		margin-left: 450px;
		width: 30%;
		height: 50%;
	}

	#lMenu {
		width: 100%;
    	border-right: 1px solid #ddd;
	}

	footer {
		padding: 1em;
		background-color: black;
		clear: both;
	    bottom: 0;
	    width: 100% ;
	    text-align: center;
	}

	#btnLogin {
		float: right;
	}

	.container {
		width: 100%;
	}
</style>