<html>
	<head>
		<meta charset="utf-8">
		<title> </title>
	</head>
	<body>
		<div id="dangky">
			<h2> Dang ky tai khoan </h2>
			<form action="" method="POST" enctype="application/x-www-form-urlencoded">
				<div class="form-group">
					<label for="name"> Ho ten: </label>
					<input type"text" class="form-control" id="name" placeholder="Nhap ho ten">
				</div>
				<div class="form-group">
					<label for="nick"> Ten dang nhap: </label>
					<input type"text" class="form-control" name="txtNick" id="nick" placeholder="Nhap ten dang nhap">
				</div>
				<div class="form-group">
					<label for="pass"> Mat khau: </label>
					<input type"text" class="form-control" name="txtPass" id="pass" placeholder="Nhap mat khau">
				</div>
				<input type="submit" name="btDK" value="DangKy" />
			</form>
		</div>
	</body>
</html>