<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> share ur feeling </title>
		<script src = "/socket.io/socket.io.js"> </script>
		<script src = "jquery-3.1.1.min.js"> </script>
		<script>

			var socket = io("http://localhost:3000");

			$(document).ready(function(){
				$("#btSignup").click(function(){
					socket.emit("client_send_username", $("#txtUser").val());
				});
			});
			socket.on("fail_sign_up", function(data){
				alert("Ten nguoi dung " + data + " da ton tai");
			});
			socket.on("success_sign_up", function(data){
				alert("Dang ki thanh cong voi ten " + data);
				var s = "<div class='newUser'>" + data + "</div>";
				$("#danhsachUserOnline").append(s);
			});

		</script>
	</head>
	<body>
		<div id="signup">
			<input type="text" id="txtUser" placeholder="your nickname">
			<input type="button" id="btSignup" value="Sign up">
			<div class="block"> </div>
		</div>
		<div id="chat">
			<input type="text" id="message" placeholder="your massage">
			<input type="button" id="btChat" value="chat">
		</div>
		<div id="UserList">
			<div id="userTitle"> Users Online </div>
			<div id="danhsachUserOnline"> </div>
		</div>
	</body>
</html>