<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
  		<base href="/">
		<script type="text/javascript">
			function hide_show(){
				var e = document.getElementById("topNavBar");
				if(e.style.display == 'block')
					e.style.display = 'none';
				else
					e.style.display = 'block';
			}
			function hide_show2(){
				var e = document.getElementById("lMenu");
				if(e.style.display == 'block')
					e.style.display = 'none';
				else
					e.style.display = 'block';
			}
		</script>
		<title>
			NewbiInBoostrap
		</title>
	</head>
	<body>
			<header id="toper">
				<a> <img src="pictures/node.png" style="float: left; height: 40px; margin-top: 5px; margin-left: 5px;"></a>
				<div class="topnav" id="topNavBar">
					<a class="active"> Home </a>
					<a href="/albums"> Albums </a>
					<a href="/about"> About </a>
					<a href="/blog"> Blog </a>
					<div class="active" id="log" style="float: right; background-color: brown;">
						<% if(dn == "1") { %>
							<a id="userLogin" style="color: black; margin: 0;">
								<%=nick %>
							</a> 
							<button type="button" class "btn btn-primary" id="btnLogout" href="/"> Logout </button> <% }
						  else { %>
							<button type="button" class "btn btn-primary" id="btnLogin" data-toggle="modal" data-target="#loginModal"> Login </button>
						<% } %>
					</div>
				</div>
				<button type="button" class="btn btn-primary btn-md" id="hideBt" onclick="hide_show()"> show </button>
			</header>
			<p> <img src="pictures/citi.jpg" id="anhbia"> </p>
			<div id="opt">
				<div id="api" style="float: right; margin-top: 5px">
					<a> <img src="pictures/fb.png" href="facebook.com" style="height: 40px;"></a>
				</div>
				<a>
					<ol class="breadcrumb" style="color:#797f89;">
						<li> <a href="/"> Home </a> </li>
					</ol>
				</a>
			</div>
				<div class="col-sm-2" >
					<div id="lMenu" class="nav-sidebar">
						<ul class="nav" id="menuList">
							<li> <a href=""> Menu 1 </a> </li>
							<li> <a href=""> Menu 2  </a> </li>
							<li> <a href=""> Menu 3 </a> </li>
							<li> <a href=""> Menu 4  </a> </li>
						</ul>
					</div>
					<button type="button" class="btn btn-primary btn-md" id="hideBt2" onclick="hide_show2()"> show </button>
				</div>
				<article>
					<h2> NHIẾP ẢNH: HIỆN TẠI QUÁ KHỨ VÀ TƯƠNG LAI </h2>
					<p>Sinh ra từ máy móc, liệu ảnh có chết vì máy móc?</p>
					<p> <img src="pictures/ct1.jpg"> </p>
					<p>Ảnh là một công cụ đầy quyền lực của thông tin và giao tiếp, cho dù hiện tại nó đang có nguy cơ bị tiếm ngôi bởi video. Máy ảnh với người chụp ảnh giống như chiếc máy chữ của nhà văn. Anh có thể dùng nó để gõ tiểu thuyết, truyện ngắn, tạp văn, hồi ký hay bất cứ cái gì từ thô thiển đến tinh tế anh muốn. </p>
					<p>Khi Daguerre đưa đến với thế giới phương pháp chụp hình dương bản Dage (Daguerreotype) năm 1839, nó thay đổi cách giới nghệ sĩ nhìn nhận về nghệ thuật. Nhiếp ảnh giống như phong trào nghệ thuật Ấn tượng, tập trung vào khai thác tư liệu thế giới thật và những gì thật bằng xương thịt hơn là những hình ảnh vị giác mang tính biểu tượng. Vào thời điểm khai sinh, nhiếp ảnh được đón nhận bằng nhiều luồng ý kiến: tích cực và tiêu cực – thậm chí là bị những người theo đuổi nghệ thuật cực đoan bài xích một cách không thương tiếc. </p>
					<p> <img src="pictures/ct2.jpg" style="max-width: 600px;"> </p>
					<p>Bất chấp những xung đột, nhiếp ảnh vẫn phát triển mạnh mẽ như một guồng quay không thể đảo hồi của bánh xe lịch sử, mang đến một mối quan hệ mới mẻ giữa hiện thực và biểu hiện của nó, không chỉ còn là công cụ của hội họa, điêu khắc. Lúc đầu ảnh được các họa sĩ dùng khá phổ biến để chụp cảnh ngoài trời để họ sau đó có thể vẽ trong studio một cách thong thả hơn – mà đàng hoàng tiến lên một bộ môn nghệ thuật độc lập. Nhiếp ảnh kiến tạo lịch sử và trở thành một phần không tách rời của lịch sử hiện đại.</p>
					<p>Nếu xét từ góc nhìn của những người dùng đại chúng, nhiếp ảnh đã vượt quá ý nghĩa và nhiệm vụ khởi đầu của chính mình. Chân dung không chỉ còn đặc quyền của tầng lớp thượng lưu, giàu có mà trở thành một nhu cầu thiết yếu, bình thường như cơm ăn áo mặc, dù là mua máy ảnh về tự chụp hay bỏ tiền thuê các nhiếp ảnh gia chuyên nghiệp. Đặc biệt là sau sự ra mắt của máy ảnh phim cầm tay.</p>
					<p> <img src="pictures/ct3.jpeg" style="max-width: 600px;"> </p>
					<p>Như được giải phóng khỏi sự kìm kẹp của những bức ảnh trong studio mà đôi khi phải ngồi bất động hàng phút, con người chụp ảnh ở khắp mọi nơi. Họ chụp những khoảnh khắc đời thường như mình lái xe đạp, nhảy giữa sóng biển dưới ánh nắng mặt trời, chụp bọn trẻ con nô đùa cạnh thú cưng. Họ chụp những khoảnh khắc chỉ xảy ra một lần như mèo nhảy lên vồ chim, tai nạn xe lửa. Họ chụp những trò nghịch ngợm vui đùa và chộp những tấm ảnh snapshot không mang nhiều ý nghĩa: chổng mông vào máy ảnh, giả vờ vắt sữa bò, khoét lỗ trên báo để chui đầu qua… Và tất nhiên không thể thiếu những tấm ảnh tự sướng đầu tiên của nhân loại: chụp bản thân mình qua gương.</p>
					<p>Đương nhiên ở thị trường chuyên nghiệp và cao cấp, máy ảnh hầu như không bị ảnh hưởng mấy bởi cơn bão smartphone, nhưng ở phân khúc bình dân, chỉ trong vòng tám năm từ 2006 đến 2014, doanh thu máy ảnh kỹ thuật số compact rẻ tiền đã giảm gần 2/3 khi phần lớn người dùng bình dân chuyển sang mua điện thoại để chụp ảnh đời sống bình thường và du lịch.</p>
					<p> <img src="pictures/ct4.jpg" style="max-width: 600px;""> </p>
					<p>Theo thống kê vào tháng Bảy, 2014 Facebook có 1.317 tỉ người dùng thường xuyên, hàng ngày tải lên hơn 350 triệu bức ảnh (14.58 triệu ảnh một giờ hay 243 nghìn ảnh một phút). Vào thời điểm năm 2013 đã có hơn 250 tỷ bức ảnh trên máy chủ của Facebook. Dù biết rõ rằng chúng ta chụp ảnh nhiều như thế nào nhưng con số trên vẫn khá sốc với tôi vào hai năm trước. Thế giới thay đổi khá nhiều trong mười, hai mươi, ba mươi hay bốn mươi năm nhưng nếu xét về mặt công nghệ, bốn mươi năm công nghệ dường như dài cả thiên niên kỷ. Từng bước từng bước điện thoại di động thâm nhập một cách sâu rộng vào đời sống con người, nhất là sau sự ra đời của Iphone. Năm 2008, một loạt các ông lớn như LG, Motorola, Sony, Google… cũng bắt đầu phát triển tiềm năng rộng lớn của thị trường Smartphone. Theo thống kê ở thời điểm hiện tại có khoảng hai tỷ người dùng Smartphone trên toàn thế giới – và một trong những yếu tố đánh vào thị hiếu của khán giả mà các hãng điện thoại cực kỳ quan tâm (kể cả phát triển công nghệ và quảng cáo) đó là chức năng chụp ảnh của Smartphone.</p>
					<p> <img src="pictures/ct5.jpg"> </p>
					<p>2015 đương nhiên mới chỉ là giai đoạn quá độ mới của nhiếp ảnh nên sẽ còn nhiều bất cập về tư tưởng và chất lượng, nhưng tôi dự đoán việc chụp ảnh bằng điện thoại sẽ ngày một thoát ra khỏi cái bóng tai tiếng của việc “chụp ảnh tự động, chỉ có bấm và chụp và áp filter” mà trở thành một lĩnh vực độc lập đòi hỏi các kỹ năng và con mắt thẩm mỹ của người chụp. Có thể là thế, hoặc cũng có thể là các loại máy ảnh sẽ ngày một hoàn hảo và thông minh hơn, ngày một nhỏ đi (như một chiếc kính áp tròng!), cảm biến và con chip xử lý ngày càng hiện đại đến mức chụp ảnh không còn là một bộ môn nghệ thuật nữa và phải đi tìm hướng đi mới. Hoặc giả như trí thông minh nhân tạo sẽ có khả năng chụp ảnh như con người. Cấy ghép chip điện tử vào não? Ai biết được? Nhưng cho dù kết cục như nào đi nữa, tôi vẫn luôn hào hứng trước mọi thay đổi và khá lạc quan về số phận của những người chụp ảnh.</p>
					<p>Vì nghệ thuật thực sự, chỉ cần một người còn trân trọng nó, sẽ không bao giờ chết.</p>
				</article>
			<a></a>
			<div>
				<form action="" method="POST" enctype="application/x-www-form-urlencoded">
					<div class="modal fade" id="loginModal" role="dialog" >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title"> Dang nhap </h4> 
								</div>
								<div class="modal-body">
									<form>
									    <div class="form-group">
									    	<label for="nickname">Ten dang nhap:</label>
									      	<input type="text" class="form-control" name="txtNick" id="nick" placeholder="Nhap ten nguooi dung">
									    </div>
									    <div class="form-group">
									      	<label for="password">Password:</label>
									      	<input type="password" class="form-control" name="txtPass" id="pass" placeholder="Nhap mat khau">
									    </div>
									    <div>
									    	<input type="submit" class"btn btn-default" value="Dang nhap">
									    </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<footer id="foot">
				contact me now	
			</footer>
	</body>
</html>

<style>
	#topNavBar {
		background-color: black;
		padding: 14px 14px;
		text-align: center;
		display: block;
	}

	@media only screen and (max-width: 992px){
		#topNavBar {
			display: none;
		}
	}

	@media only screen and (min-width: 992px){
		#hideBt {
			display: none;
		}
	}

	@media only screen and (max-width: 768px){
		#lMenu {
			display: none;
		}
	}

	@media only screen and (min-width: 768px){
		#hideBt2 {
			display: none;
		}
	}
	.topnav a {
		background-color: green;
		padding: 14px 14px;
		color: white;
		text-decoration: none;
		width: auto;
	}

	.topnav a:hover {
	 	background-color: white;
	  	color: black;
	}

	#anhbia {
		float: center;
		width: 100%;
		height: 100%;
	}

	#lMenu {
		width: 100%;
    	border-right: 1px solid #ddd;
    	color: #afbacc;
    	float: left;
    	margin-top: 50px;
	}

	footer {
		padding: 1em;
	    color: white;
	    background-color: black;
	    clear: left;
	    text-align: center;
	}

	#btnLogin {
		float: right;
	}

	.container {
		width: 100%;
	}

	article {
		margin-left: 230px;
		margin-right: 50px;
	}
</style>